// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

#header {
  background-image: url('../assets/img/background_header.jpeg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .nav-link {
    color: #fff;
    font-size: 1.088rem;
    font-weight: 400;
    &:hover {
      color: rgba(255, 255, 255, 0.548);
    }
  }
  .active {
    border-radius: 50px;
    padding: 0.4rem 2rem ;
    &:hover {
      color: #fff !important;
    }
  }
  .justify {
    text-align: justify !important;
  }
  .lead {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
  }
}
.overlay{
  background: linear-gradient(180deg,rgba(255, 255, 255, 0),transparent 15%),
  linear-gradient(0deg,#ffffff,rgba(255,255,255,.6) 40%,rgba(255, 255, 255, 0) 60%)
}